<!DOCTYPE html>
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

style.
  .container{
    margin-top:5rem;
  }
  *{
    color:black;
    text-align:center;
  }
  body{
    background:url('trianglify(1).png');
    background-size:cover;
  }
  img{
    width:100%;
  }
body
  include errors
  nav
    .nav-wrapper.teal
      a.brand-logo(href='#!') Open forms
      a.sidenav-trigger(href='#' data-target='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='/') Formulario
        li
          a(href='/about') About
  ul#mobile-demo.sidenav
    li
      a(href='/') Formulario
    li
      a(href='/about') About
  .container
    p Al querer realizar un evento grande como este, promocionando ademas el software libre, sentiamos la neceisdad de usar una herramienta sobre la que tuvieramos control y que ofreciera 100% de transparencia, asi surge open forms, desarrollado en un fin de semana, pretende servir de plataforma para que lo use quien lo necesite
    .row
      .col.s12.m8.push-m2
        h3 Desarrollado por miembros de LibreLabUCM
        p Somos una asociacion de estudiantes que promueve el software libre, y de vez en cuando se nos ocurren hacer locuras como esta...Esperemos que la aplicacion haya sido de vueltro agrado y que asi lo sean los eventos que estan por venir. Especial agradecimiento a: Pablo, Rebeca, David 
        h3 Ponte en contacto con nosotros
        p Has tenido algun problema al usar la aplicacion? nos encantaria ayudarte, te puedes dirigir a nosotros al siguiente correo: librelab@ucm.es
    .row#foto
      .col.s12.m6.push-m3
        img(src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.concursosoftwarelibre.org%2F1819%2Ffiles%2Fimages%2Flogos%2Fcolaboradores%2Flibrelabucm.png&f=1", alt="")
script.
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
  })
