head
  title Open forms
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')  
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
style.
  .info > p{
    display:inline-block;
    margin-left:1rem;
  }
  .info{
    background:black;
    color:white;
  }
  *{
    text-align:center;
  }

body 
  h3 Admin page !
  .container
    each submit in submits
        .row
          .col.s10
            if submit.options[0].facultad == 'fisica'
              div.info.green
                p= submit.email
                p= submit.options[0].facultad
                p= submit.options[1].charla
                p= submit.validado 
            if submit.options[0].facultad == 'mates'
              div.info.red
                p= submit.email
                p= submit.options[0].facultad
                p= submit.options[1].charla
                p= submit.validado 
            if submit.options[0].facultad == 'biologia'
              div.info.amber
                p= submit.email
                p= submit.options[0].facultad
                p= submit.options[1].charla
                p= submit.validado 
            if submit.options[0].facultad == 'ccinfo'
              div.info.blue
                p= submit.email
                p= submit.options[0].facultad
                p= submit.options[1].charla
                p= submit.validado 
            if submit.options[0].facultad == 'derecho'
              div.info.black
                p= submit.email
                p= submit.options[0].facultad
                p= submit.options[1].charla
                p= submit.validado 
          .col.s2
            form(method='POST' action='/delete')
              input(type='hidden' value=submit._id name='id')
              input(type='hidden' value=pass name='pass')
              button.btn.waves-effect.waves-light.red(type='submit', name='action')
                | Borrar
                i.material-icons.right highlight_off
          
      
