if msg
  #modal1.modal(class= msg.color)
    .modal-content
      h4.white-text= msg.status
      p.white-text= msg.description
    .modal-footer(class= msg.color).text-white
      a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
  script.
    $('.modal').modal()
    $('.modal').modal('open')

  
