<!DOCTYPE html>
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='effect.css')

style.
  .container{
    margin-top:5rem;
  }
  *{
    color:black;
  }
  #fondo{
    background:url('trianglify(1).png');
    position:fixed;
    top:0;
    right:0;
    opacity:0;
    width:100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    
  }
body
  nav
    .nav-wrapper.teal
      a.brand-logo(href='#!') Open forms
      a.sidenav-trigger(href='#' data-target='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='/') Formulario
        li
          a(href='/about') About
  ul#mobile-demo.sidenav
    li
      a(href='/') Formulario
    li
      a(href='/about') About
  div#fondo
  .container
    form(action='/' method='POST')
      h3= form.title
      .row
        .input-field.col.s12.m6
          input#email_id.validate(type='email' name='email' required)
          label(for='email_id') Tu email (Por razones de veracidad)
      .row
        .input-field.col.s12.m6
          h4 Selecciona tu facultad:
          select#select_facu(name='facultad')
            each facu in form.structure[0]
              option(value=facu)= facu
      .section
        h4 Selecciona una charla:
        .section#charla
          each charla in form.structure[1]
            p
              label
                input.with-gap(name='charla' type='radio' value = charla required )
                span= charla
      p
        label
          input(type='checkbox' name = 'privacidad' required)
          span 
            a(href='https://librelabucm.org/component/k2/item/89-politica-de-privacidad-de-librelabucm') Acepto la politica de privacidad
      br
      button.btn.waves-effect.waves-light(type='submit' id = 'boton_enviar')
        | Enviar
        i.material-icons.right send
      br
      br
    input#production(type='hidden' value=mode.toString())
// JavaScript at end of body for optimized loading
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script(src='effect.js')
script.
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
  });
