<!DOCTYPE html>
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

style.
  .container{
    margin-top:5rem;
  }
  *{
    color:black;
  }
body
  nav
    .nav-wrapper.teal
      a.brand-logo(href='#!') Open forms
      a.sidenav-trigger(href='#' data-target='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='/') Home
        li
          a(href='/about') About
  ul#mobile-demo.sidenav
    li
      a(href='/') Home
    li
      a(href='/about') About
  .section.center
    h4= msg
// JavaScript at end of body for optimized loading
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script.
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
  });
