
#fondo{
  background-image: url("trinaglify.png");

  /* Full height */
  width:100vw;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
